<footer class="position-absolute top-0 end-0">
  <div style="font-weight: bold; font-family: REM; color: rgb(20, 24, 9);" >
      &copy; Copyright <strong><span>Bottoms Up Limited</span></strong>
  </div>
</footer>