<footer class="fixed-bottom">
  <div style="font-family: REM; color: rgb(194, 221, 94); font-weight: lighter;">
      &copy; Copyright <strong><span>Bottoms Up Limited</span></strong>
  </div>
</footer>