<!-- <footer>
  <nav class="navbar navbar-expand-xl bg-body-tertiary">
    <div
      style="background-color: lightgreen"
      class="container-fluid align-items-center text-center"
    >
      <a
        class="navbar-brand align-items-center text-center"
        style="
          padding-left: 4px;
          padding-right: 4px;
          width: auto;
          font-size: medium;
        "
        href="mailto:mthutter@me.com"
        fr
        >League Committee E-Mail</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</footer> -->
