<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div style="background-color: lightgreen;" class="container-fluid">
        <a class="navbar-brand" href="/">Bottoms Up Golf</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
                <% if (false) { %>
                    <li class="px-3 nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <% } %>
                
                <li class="px-3 nav-item">
                    <a class="nav-link active" aria-current="page" href="/login">Login</a>
                </li>

                <% if (false) { %>
                <li class="px-3 nav-item">
                    <a class="nav-link active" href="/images">Images/Videos</a>
                </li>
               
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Member Services
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/contacts">Member Contacts</a></li>
                        <li><a class="dropdown-item" href="/results">Weekly Results</a></li>
                        <li><a class="dropdown-item" href="#">Tee Times</a></li>
                        <li><a class="dropdown-item" href="#">Availability</a></li>
                    </ul>
                </li>
                <% } %>
                
                <li class="px-3 nav-item">
                    <a class="nav-link active" href="/course">Course</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="INOP Right Now" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">SEARCH</button>
            </form>
        </div>
    </div>
</nav>