<div class="position-absolute top-0 end-0" style="padding-right: 15px; margin: 0; font-weight: bold; font-family: REM; color: rgb(20, 24, 9);" >
    &copy; Copyright <strong><span>Bottoms Up Limited</span></strong>
</div>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div style="background-color: lightgreen;" class="container-fluid">
        <a class="navbar-brand" href="/">Bottoms Up Golf</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="px-3 nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="px-3 nav-item">
                    <a class="nav-link active" aria-current="page" href="/login">Login</a>
                </li>             
                <li class="px-3 nav-item">
                    <a class="nav-link active" aria-current="page" href="/images">Images</a>
                </li>
                <li class="px-3 nav-item">
                    <a class="nav-link active" aria-current="page" href="/videos">Videos</a>
                </li>
                <li class="dropdown">
                    <a class="nav-link active dropdown-toggle" role="button" href="/" data-bs-toggle="dropdown"
                        aria-expanded="true">
                        Member Services
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="px-3 nav-link dropdown-item" href="/contacts">Member Contacts</a></li>
                        <li><a class="px-3 nav-link dropdown-item" href="/results">Weekly Results</a></li>
                        <li><a class="px-3 nav-link dropdown-item" href="/tee-times">Tee Times</a></li>
                        <li><a class="px-3 nav-link dropdown-item" href="/availability">Availability</a></li>
                    </ul>
                </li>
                <li class="px-3 nav-item">
                    <a class="nav-link active" href="/course">Course</a>
                </li>
            </ul>           
        </div>
    </div>
</nav>