<div
  class="position-absolute top-0 end-0"
  style="
    padding-right: 15px;
    margin: 0;
    font-weight: bold;
    font-family: REM;
    color: rgb(20, 24, 9);
  "
>
  &copy; Copyright <strong><span>Bottoms Up Limited</span></strong>
</div>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div style="background-color: lightgreen" class="container-fluid">
    <a
      class="navbar-brand"
      style="padding-left: 4px; padding-right: 4px; width: auto"
      >Bottoms Up Golf</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li>
          <a class="px-3 nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li>
          <a class="px-3 nav-link active" aria-current="page" href="/tee-times"
            >Tee Times</a
          >
        </li>
        <li>
          <a class="px-3 nav-link active" aria-current="page" href="/results"
            >Weekly Results</a
          >
        </li>

        <li class="dropdown">
          <a
            class="px-3 nav-link active dropdown-toggle text-center"
            role="button"
            href="/"
            data-bs-toggle="dropdown"
            aria-expanded="true"
            >Standings</a
          >
          <ul
            style="
              background-color: rgb(88, 199, 61);
              border: solid rgb(3, 102, 3) 5px;
              border-radius: 10px;
            "
            class="dropdown-menu"
          >
            <li>
              <a class="px-3 nav-link dropdown-item" href="/overall">Overall</a>
            </li>
            <li>
              <a class="px-3 nav-link dropdown-item" href="/first-half"
                >First Half</a
              >
            </li>
            <li>
              <a class="px-3 nav-link dropdown-item" href="/second-half"
                >Second Half</a
              >
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a
            class="px-3 nav-link active dropdown-toggle"
            aria-current="page"
            role="button"
            href="/"
            data-bs-toggle="dropdown"
            aria-expanded="true"
            >Images</a
          >
          <ul
            style="
              background-color: rgb(88, 199, 61);
              border: solid rgb(3, 102, 3) 5px;
              border-radius: 10px;
            "
            class="dropdown-menu"
          >
            <li>
              <a class="px-3 nav-link dropdown-item" href="/images2024">2024</a>
            </li>
            <li>
              <a class="px-3 nav-link dropdown-item" href="/images2025">2025</a>
            </li>
          </ul>
          <!-- <li>       
          <a class="px-3 nav-link active" aria-current="page" href="/videos">Videos</a>
        </li> -->
        </li>

        <li class="dropdown">
          <a
            class="px-3 nav-link active dropdown-toggle"
            aria-current="page"
            role="button"
            href="/"
            data-bs-toggle="dropdown"
            aria-expanded="true"
            >Videos</a
          >
          <ul
            style="
              background-color: rgb(88, 199, 61);
              border: solid rgb(3, 102, 3) 5px;
              border-radius: 10px;
            "
            class="dropdown-menu"
          >
            <li>
              <a class="px-3 nav-link dropdown-item" href="/videos2024">2024</a>
            </li>
            <li>
              <a class="px-3 nav-link dropdown-item" href="/videos2025">2025</a>
            </li>
          </ul>
        </li>

        <li></li>
        <li>
          <a class="px-3 nav-link active" href="/course">Course</a>
        </li>
        <li>
          <a class="px-3 nav-link" href="/historical">Historical</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
