<!DOCTYPE html>
<html class="-background" lang="en">

<%- include('./layouts/header'); -%>

    <body>

        <section>
            <%- include('./layouts/navbar'); -%>
        </section>

        <section id="meat">
            <br><br>
            <h1 style="text-align: center;">COMING SOON....perhaps.</h1>
        </section>

        <section>
            <%- include('./layouts/footer'); -%>
        </section>

        <section>
            <%- include('./layouts/scripts'); -%>
        </section>

    </body>

</html>