<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

  <body>
    <section>
      <%- include('layouts/navbar'); -%>
    </section>
    <br>
    <section>
      <div class="justify-content-center">
        <table style="table-layout: auto; font-size:.75rem; width: 35vw;">
          <tr style="font-size: medium;">
            <td colspan="2">NAME</th>
            <td>PHONE</th>
            <td>E-MAIL</th>
          </tr>
          <tr>
            <td>Adkison</td>
            <td>Tony</td>
            <td>719-210-8393</td>
            <td><a href="mailto: tonyadkison@yahoo.com">tonyadkison@yahoo.com</a></td>
          </tr>
          <tr>
            <td>Arndt</td>
            <td>Karen</td>
            <td>719-991-8226</td>
            <td><a href="mailto: karenarndt22@gmail.com">karenarndt22@gmail.com</a></td>
          </tr>
          <tr>
            <td>Bess</td>
            <td>Ami</td>
            <td>719-232-2856</td>
            <td><a href="mailto: flightrnami@gmail.com">flightrnami@gmail.com</a></td>
          </tr>
          <tr>
            <td>Bess</td>
            <td>John</td>
            <td>719-460-9413</td>
            <td><a href="mailto: jcbess@mail.com">jcbess@mail.com</a></td>
          </tr>
          <tr>
            <td>Dickey</td>
            <td>Jon</td>
            <td>719-648-9842</td>
            <td><a href="mailto: jondickey423@yahoo.com">jondickey423@yahoo.com</a></td>
          </tr>
          <tr>
            <td>Hutter</td>
            <td>Gavin</td>
            <td>719-421-6157</td>
            <td><a href="mailto: gavin.hutter@icloud.com">gavin.hutter@icloud.com</td>
          </tr>
          <tr>
            <td>Hutter</td>
            <td>Mark</td>
            <td>719-200-1629</td>
            <td><a href="mailto: mark.hutter@icloud.com">mark.hutter@icloud.com</a></td>
          </tr>
          <tr>
            <td>Ige</td>
            <td>Shayne</td>
            <td>808-283-4966</td>
            <td><a href="mailto: mauifishing44@gmail.com">mauifishing44@gmail.com</a></td>
          </tr>
          <tr>
            <td>Miller</td>
            <td>Ryan</td>
            <td>719-330-8977</td>
            <td><a href="mailto: rdmillmontana@yahoo.com">rdmillmontana@yahoo.com</a></td>
          </tr>
          <tr>
            <td>Vest</td>
            <td>Jeff</td>
            <td>719-761-1386</td>
            <td><a href="mailto: jeffvest@msn.com">jeffvest@msn.com</a></td>
          </tr>
          <tr>
            <td>Walters</td>
            <td>Kevin</td>
            <td>719-650-1662</td>
            <td><a href="mailto: wally2337@gmail.com">wally2337@gmail.com</a></td>
          </tr>
          <tr>
            <td>Walters</td>
            <td>Russ</td>
            <td>540-664-3049</td>
            <td><a href="mailto: tha.donkey@gmail.com">tha.donkey@gmail.com</a></td>
          </tr>
          <tr>
            <td>White</td>
            <td>Mike</td>
            <td>703-317-7788</td>
            <td><a href="mailto: mlw5673@yahoo.com">mlw5673@yahoo.com</a></td>
          </tr>
          <tr>
            <td>Wise</td>
            <td>Randy</td>
            <td>719-291-0164</td>
            <td><a href="mailto: randythewise@gmail.com">randythewise@gmail.com</a></td>
          </tr>
          <tr>
            <td>Young</td>
            <td>Mark</td>
            <td>970-903-7825</td>
            <td><a href="mailto: brigsbah@gmail.com">brigsbah@gmail.com</a></td>
          </tr>
        </table>
      </div>
    </section>

    <section>
      <%- include('layouts/footer'); -%>
    </section>

    <section>
      <%- include('./layouts/scripts'); -%>
    </section>


  </body>

</html>