<!doctype html>
<html lang="en">
  <%- include('./layouts/header'); -%>

  <body>
    <section><%- include('./layouts/navbar'); -%></section>
    <br /><br />
    <section id="meat">
      <div class="text-center justify-content-evenly align-items-center">
        <h4>
          <a
            style="color: rgb(8, 9, 15)"
            href="https://www.cherokeeridgegolfcourse.com/"
            target="_blank"
            >&nbspCherokee Ridge Website&nbsp</a
          >
        </h4>
      </div>

      <div
        class="align-items-center justify-content-center"
        itemprop="articleBody"
      >
        <p style="color: rgb(158, 201, 158); text-align: center">
          <em><strong>White/Blue:</strong></em
          >&nbsp; Rating: 69.9 • Slope: 123 • Par 72 • 6570 yds<br /><em
            ><strong>Red/Gold:</strong></em
          >&nbsp; Rating: 71.8 • Slope: 127 • Par 74 • 5612 yds
        </p>
      </div>

      <div class="justify-content-center">
        <table
          style="table-layout: auto; font-size: 0.75rem; width: 60vw"
          cellspacing="0"
          cellpadding="1"
        >
          <tr>
            <td colspan="11">
              <span style="color: #301ba7"><strong>FRONT NINE</strong></span>
            </td>
          </tr>
          <tr>
            <td style="text-align: left">
              <strong>Hole #<br /></strong>
            </td>
            <td style="text-align: center"><strong>1</strong></td>
            <td style="text-align: center"><strong>2</strong></td>
            <td style="text-align: center"><strong>3</strong></td>
            <td style="text-align: center"><strong>4</strong></td>
            <td style="text-align: center"><strong>5</strong></td>
            <td style="text-align: center"><strong>6</strong></td>
            <td style="text-align: center"><strong>7</strong></td>
            <td style="text-align: center"><strong>8</strong></td>
            <td style="text-align: center"><strong>9</strong></td>
            <td style="text-align: center"><strong>Out</strong></td>
          </tr>
          <tr>
            <td style="text-align: left"><strong>White/Blue</strong></td>
            <td style="text-align: center"><strong>394</strong></td>
            <td style="text-align: center"><strong>501</strong></td>
            <td style="text-align: center"><strong>406</strong></td>
            <td style="text-align: center"><strong>154</strong></td>
            <td style="text-align: center"><strong>425</strong></td>
            <td style="text-align: center"><strong>373</strong></td>
            <td style="text-align: center"><strong>195</strong></td>
            <td style="text-align: center"><strong>403</strong></td>
            <td style="text-align: center"><strong>458</strong></td>
            <td style="text-align: center"><strong>3307</strong></td>
          </tr>
          <tr>
            <td style="text-align: left"><strong>Red/Gold</strong></td>
            <td style="text-align: center"><strong>348</strong></td>
            <td style="text-align: center"><strong>413</strong></td>
            <td style="text-align: center"><strong>302</strong></td>
            <td style="text-align: center"><strong>136</strong></td>
            <td style="text-align: center"><strong>310</strong></td>
            <td style="text-align: center"><strong>303</strong></td>
            <td style="text-align: center"><strong>138</strong></td>
            <td style="text-align: center"><strong>360</strong></td>
            <td style="text-align: center"><strong>373</strong></td>
            <td style="text-align: center"><strong>2683</strong></td>
          </tr>
          <tr>
            <td style="text-align: left"><strong>Men's HCP</strong></td>
            <td style="text-align: center"><strong>7</strong></td>
            <td style="text-align: center"><strong>1</strong></td>
            <td style="text-align: center"><strong>5</strong></td>
            <td style="text-align: center"><strong>17</strong></td>
            <td style="text-align: center"><strong>9</strong></td>
            <td style="text-align: center"><strong>13</strong></td>
            <td style="text-align: center"><strong>15</strong></td>
            <td style="text-align: center"><strong>11</strong></td>
            <td style="text-align: center"><strong>3</strong></td>
            <td style="text-align: center">&nbsp;</td>
          </tr>
          <tr>
            <td style="text-align: left"><strong>Mens Par</strong></td>
            <td style="text-align: center"><strong>4</strong></td>
            <td style="text-align: center"><strong>5</strong></td>
            <td style="text-align: center"><strong>4</strong></td>
            <td style="text-align: center"><strong>3</strong></td>
            <td style="text-align: center"><strong>4</strong></td>
            <td style="text-align: center"><strong>4</strong></td>
            <td style="text-align: center"><strong>3</strong></td>
            <td style="text-align: center"><strong>4</strong></td>
            <td style="text-align: center"><strong>5</strong></td>
            <td style="text-align: center"><strong>36</strong></td>
          </tr>
          <tr>
            <td style="text-align: left"><strong>Ladies Par</strong></td>
            <td style="text-align: center"><strong>4</strong></td>
            <td style="text-align: center"><strong>5</strong></td>
            <td style="text-align: center"><strong>4</strong></td>
            <td style="text-align: center"><strong>3</strong></td>
            <td style="text-align: center"><strong>4</strong></td>
            <td style="text-align: center"><strong>4</strong></td>
            <td style="text-align: center"><strong>3</strong></td>
            <td style="text-align: center"><strong>5</strong></td>
            <td style="text-align: center"><strong>5</strong></td>
            <td style="text-align: center"><strong>37</strong></td>
          </tr>
          <tr>
            <td style="text-align: left"><strong>Ladies HCP</strong></td>
            <td style="text-align: center"><strong>9</strong></td>
            <td style="text-align: center"><strong>1</strong></td>
            <td style="text-align: center"><strong>11</strong></td>
            <td style="text-align: center"><strong>17</strong></td>
            <td style="text-align: center"><strong>7</strong></td>
            <td style="text-align: center"><strong>13</strong></td>
            <td style="text-align: center"><strong>15</strong></td>
            <td style="text-align: center"><strong>5</strong></td>
            <td style="text-align: center"><strong>3</strong></td>
            <td style="text-align: center">&nbsp;</td>
          </tr>
        </table>
      </div>
      <br />
      <div class="justify-content-center">
        <table
          style="table-layout: auto; font-size: 0.75rem; width: 60vw"
          cellspacing="0"
          cellpadding="1"
        >
          <tr>
            <td colspan="11">
              <span style="color: #301ba7"><strong>BACK NINE</strong></span>
            </td>
          </tr>
          <tr>
            <td style="text-align: left"><strong>Hole #</strong></td>
            <td style="text-align: center"><strong>10</strong></td>
            <td style="text-align: center"><strong>11</strong></td>
            <td style="text-align: center"><strong>12</strong></td>
            <td style="text-align: center"><strong>13</strong></td>
            <td style="text-align: center"><strong>14</strong></td>
            <td style="text-align: center"><strong>15</strong></td>
            <td style="text-align: center"><strong>16</strong></td>
            <td style="text-align: center"><strong>17</strong></td>
            <td style="text-align: center"><strong>18</strong></td>
            <td style="text-align: center"><strong>In</strong></td>
          </tr>
          <tr>
            <td style="text-align: left"><strong>White/Blue</strong></td>
            <td style="text-align: center"><strong>352</strong></td>
            <td style="text-align: center"><strong>480</strong></td>
            <td style="text-align: center"><strong>421</strong></td>
            <td style="text-align: center"><strong>189</strong></td>
            <td style="text-align: center"><strong>400</strong></td>
            <td style="text-align: center"><strong>365</strong></td>
            <td style="text-align: center"><strong>139</strong></td>
            <td style="text-align: center"><strong>425</strong></td>
            <td style="text-align: center"><strong>492</strong></td>
            <td style="text-align: center"><strong>3263</strong></td>
          </tr>
          <tr>
            <td style="text-align: left"><strong>Red/Gold</strong></td>
            <td style="text-align: center"><strong>353</strong></td>
            <td style="text-align: center"><strong>452</strong></td>
            <td style="text-align: center"><strong>373</strong></td>
            <td style="text-align: center"><strong>149</strong></td>
            <td style="text-align: center"><strong>363</strong></td>
            <td style="text-align: center"><strong>350</strong></td>
            <td style="text-align: center"><strong>144</strong></td>
            <td style="text-align: center"><strong>367</strong></td>
            <td style="text-align: center"><strong>378</strong></td>
            <td style="text-align: center"><strong>2929</strong></td>
          </tr>
          <tr>
            <td style="text-align: left"><strong>Men's HCP</strong></td>
            <td style="text-align: center"><strong>8</strong></td>
            <td style="text-align: center"><strong>2</strong></td>
            <td style="text-align: center"><strong>6</strong></td>
            <td style="text-align: center"><strong>18</strong></td>
            <td style="text-align: center"><strong>10</strong></td>
            <td style="text-align: center"><strong>14</strong></td>
            <td style="text-align: center"><strong>16</strong></td>
            <td style="text-align: center"><strong>12</strong></td>
            <td style="text-align: center"><strong>4</strong></td>
            <td style="text-align: center">&nbsp;</td>
          </tr>
          <tr>
            <td style="text-align: left"><strong>Mens Par</strong></td>
            <td style="text-align: center"><strong>4</strong></td>
            <td style="text-align: center"><strong>5</strong></td>
            <td style="text-align: center"><strong>4</strong></td>
            <td style="text-align: center"><strong>3</strong></td>
            <td style="text-align: center"><strong>4</strong></td>
            <td style="text-align: center"><strong>4</strong></td>
            <td style="text-align: center"><strong>3</strong></td>
            <td style="text-align: center"><strong>4</strong></td>
            <td style="text-align: center"><strong>5</strong></td>
            <td style="text-align: center"><strong>36</strong></td>
          </tr>
          <tr>
            <td style="text-align: left"><strong>Ladies Par</strong></td>
            <td style="text-align: center"><strong>4</strong></td>
            <td style="text-align: center"><strong>5</strong></td>
            <td style="text-align: center"><strong>4</strong></td>
            <td style="text-align: center"><strong>3</strong></td>
            <td style="text-align: center"><strong>4</strong></td>
            <td style="text-align: center"><strong>4</strong></td>
            <td style="text-align: center"><strong>3</strong></td>
            <td style="text-align: center"><strong>5</strong></td>
            <td style="text-align: center"><strong>5</strong></td>
            <td style="text-align: center"><strong>37</strong></td>
          </tr>
          <tr>
            <td style="text-align: left"><strong>Ladies HCP</strong></td>
            <td style="text-align: center"><strong>10</strong></td>
            <td style="text-align: center"><strong>2</strong></td>
            <td style="text-align: center"><strong>12</strong></td>
            <td style="text-align: center"><strong>18</strong></td>
            <td style="text-align: center"><strong>8</strong></td>
            <td style="text-align: center"><strong>14</strong></td>
            <td style="text-align: center"><strong>16</strong></td>
            <td style="text-align: center"><strong>6</strong></td>
            <td style="text-align: center"><strong>4</strong></td>
            <td style="text-align: center">&nbsp;</td>
          </tr>
        </table>
      </div>
    </section>

    <section><%- include('./layouts/footer'); -%></section>

    <section><%- include('./layouts/scripts'); -%></section>
  </body>
</html>
