<!DOCTYPE html>
<html lang="en">

<%- include('./layouts/header'); -%>
<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<body>   

<section>
    <%- include('./layouts/navbar'); -%>
</section>

<section id="Meat">
    <br><br>
    <div class="elfsight-app-550a1f27-8160-46fa-b254-1050f8b9f4eb" data-elfsight-app-lazy></div>
</section>

<section>
    <%- include('./layouts/footer'); -%>
</section>

<section>
    <%- include('./layouts/scripts'); -%>    
</section>

</body>

</html>