<!DOCTYPE html>
<html lang="en">

<!-- header section -->
<%- include('./layouts/header'); -%>

<body>   

<section id="navbar">
    <%- include('./layouts/navbar'); -%>
</section>

<section id="middle">
    <h2 style="color: red; text-align: center;">UNDER CONSTRUCTION</h2>
    <div class="main-page">
        <img style="border: solid rgb(40, 54, 13) 5px;" src="/images/on-knees.jpg" alt="man on knees" srcset="">
        <img style="max-height: 480px; border: solid rgb(40, 54, 13) 5px;" src="/images/img_0540.jpg" alt="man on knees" srcset="">
        <img style="border: solid rgb(40, 54, 13) 5px;" src="/images/on-knees.jpg" alt="man on knees" srcset="">
    </div>
</section>

<section id="footer">
    <%- include('./layouts/footer'); -%>
</section>

<section id="scripts">
    <%- include('./layouts/scripts'); -%>    
</section>

</body>

</html>