<!DOCTYPE html>
<html lang="en">

<!-- header section -->
<%- include('./layouts/header'); -%>

    <body>

        <section id="navbar">
            <%- include('./layouts/navbar'); -%>
        </section>

        <section id="middle">

            <div class="main-class">
                <div class="main-rules">
                    <h3 style="font-weight: bold; color: black; text-align: center;">2024 League "Rules" and
                        Information: <a href="/results/Bottoms Up 2024 League Info and Rules (04-29-24).docx">HERE</a>
                    </h3>
                </div>
                <br>
                <div class="main-page">
                    <a href="/images"><img class="main-small" src="/images/img_0530.jpg" alt="man on knees"
                            srcset=""></a>
                    <a href="/images"><img class="main-large" src="/images/IMG_0540.jpg" alt="man on knees"
                            srcset=""></a>
                    <a href="/images"><img class="main-small" src="/images/img_0305.jpg" alt="man on knees"
                            srcset=""></a>
                </div>
            </div>
        </section>

        <section id="footer">
            <%- include('./layouts/footer'); -%>
        </section>

        <section id="scripts">
            <%- include('./layouts/scripts'); -%>
        </section>

    </body>

</html>