<!DOCTYPE html>
<html class="gradient-background" lang="en">
<!-- header section -->
<%- include('./layouts/header'); -%>

  <body class="gradient-background">
    <section id="navbar"><%- include('./layouts/navbar'); -%></section>

    <section>
      <div>
        <br />
        <div class="container text-center align-items-center justify-content-center">
          <h4>
            2024 League "Rules" and Information:
            <a href="/docs/Bottoms Up 2024 League Info and Rules (04-29-24).docx">HERE</a>
          </h4>
        </div>
        <br>
        <div class="container text-center">
          <div class="row">
            <div class="col-md-4 mx-auto main-schedule">
              <p></p>
              <h4>Remaining 2024 Schedule</h4>              
              <h6>Week 20 - September 16</h6>
              <h6>Week 21 - September 23</h6>
              <h6> (Final Week) Week 22 - September 30</h6>
            </div>
          </div>
        </div>
        <br><br />
        <div class="container text-center align-items-center img-fluid">
          <div class="row">
            <div class="col">
              <a href="/images"><img class="main-small img-fluid" src="/images/IMG_0530.JPEG" alt="john peeing"
                  srcset="" title="No Peeing" /></a>
            </div>
            <div class="col">
              <a href="/images"><img class="main-large img-fluid" src="/images/IMG_0540.jpg" alt="hockey russ in bunker"
                  srcset="" title="Not Legal" /></a>
            </div>
            <div class="col">
              <a href="/images"><img class="main-small img-fluid" src="/images/IMG_0305.JPEG" alt="gavin on tee box"
                  srcset="" title="Nice Mountain" /></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="footer"><%- include('./layouts/footer'); -%></section>

    <section id="scripts"><%- include('./layouts/scripts'); -%></section>
  </body>

</html>