<!DOCTYPE html>
<html lang="en">
<!-- header section -->
<%- include('layouts/header') -%>

  <body>
    <section id="navbar"><%- include('layouts/navbar') -%></section>
    <br>
    <section>
      <div class="container d-flex align-items-center justify-content-center">
        <div class="col text-center login-box">
          <div class="row justify-content-center">
            <label for="exampleFormControlInput1" class="form-label">
              <h4>LOGIN</h4>
            </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" />

            <label for="inputPassword6" class="col-form-label"></label>
            <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline"
              placeholder="Password" />
          </div>
        </div>
      </div>
    </section>

    <section id="footer"><%- include('./layouts/footer'); -%></section>

    <section id="scripts"><%- include('./layouts/scripts'); -%></section>
  </body>

</html>