<!DOCTYPE html>
<html  class="gradient-background" lang="en">

<%- include('./layouts/header'); -%>

    <body class="gradient-background">

        <section>
            <%- include('./layouts/navbar'); -%>
        </section>

        <section id="meat">
            <div>

                <iframe src="/results/overall standings.pdf#zoom=FitV"
                    style="height:100vh; width: 100%;"></iframe>

            </div>
        </section>

        <section>
            <%- include('./layouts/footer'); -%>
        </section>

        <section>
            <%- include('./layouts/scripts'); -%>
        </section>

    </body>

</html>