<!DOCTYPE html>
<html lang="en">

<%- include('./layouts/header'); -%>

    <body>

        <section>
            <%- include('./layouts/navbar'); -%>
        </section>

        <section id="meat">
            <div>
                <!-- <iframe src="/results/Overall Standings.pdf#zoom=FitV" style="height:100vh; width: 100%;"></iframe> -->
                <br><br>
                <h1 style="text-align: center;">Will be posted after week 1.</h1>
            
            </div>
        </section>

        <section>
            <%- include('./layouts/footer'); -%>
        </section>

        <section>
            <%- include('./layouts/scripts'); -%>
        </section>

    </body>

</html>