<!DOCTYPE html>
<html lang="en">

<%- include('./layouts/header'); -%>
    <style>
        a {
            color: rgb(8, 70, 6);
            font-size: larger;
            font-weight: bolder;
        }
    </style>

    <body>

        <section>
            <%- include('./layouts/navbar'); -%>
        </section>

        <section id="meat">
            <div style="margin-top: 7%;" class="d-flex flex-row justify-content-evenly align-items-center">
                <div class="list-group align-items-center file-list">
                    <h3>Weekly Results - Front Nine</h3>
                    <p>(May 27 - July 15)</p>
                    <!-- <ul>
                        <li><a href="/results/Bottoms Up 2024 League Stats - Week 4.xlsx">Week 4 - May 27</a></li>
                        <li><a href="/results/Bottoms Up 2024 League Stats - Week 5.xlsx">Week 5 - June 3</a></li>
                        <li><a href="/results/Bottoms Up 2024 League Stats - Week 6.xlsx">Week 6 - June 10</a></li>
                        <li><a href="/results/Bottoms Up 2024 League Stats - Week 7.xlsx">Week 7 - June 17</a></li>
                        <li><a href="/results/Bottoms Up 2024 League Stats - Week 8.xlsx">Week 8 - June 24</a></li>
                        <li><a href="/results/Bottoms Up 2024 League Stats - Week 9.xlsx">Week 9 - July 1</a></li>
                        <li><a href="/results/Bottoms Up 2024 League Stats - Week 10.xlsx">Week 10 - July 8</a></li>
                        <li><a href="/results/Bottoms Up 2024 League Stats - Week 11.xlsx">Week 11 - July 15</a></li>
                    </ul> -->
                    <div>
                        <a href="/results/Bottoms Up 2024 League Stats - Week 4.xlsx">Week 4 - May 27</a><br>
                        <a href="/results/Bottoms Up 2024 League Stats - Week 5.xlsx">Week 5 - June 3</a><br>
                        <a href="/results/Bottoms Up 2024 League Stats - Week 6.xlsx">Week 6 - June 10</a><br>
                        <a href="/results/Bottoms Up 2024 League Stats - Week 7.xlsx">Week 7 - June 17</a><br>
                        <a href="/results/Bottoms Up 2024 League Stats - Week 8.xlsx">Week 8 - June 24</a><br>
                        <a href="/results/Bottoms Up 2024 League Stats - Week 9.xlsx">Week 9 - July 1</a><br>
                        <a href="/results/Bottoms Up 2024 League Stats - Week 10.xlsx">Week 10 - July 8</a><br>
                        <a href="/results/Bottoms Up 2024 League Stats - Week 11.xlsx">Week 11 - July 15</a>
                    </div>
                </div>
                <div class="list-group align-items-center file-list">
                    <h3>Weekly Results - Back Nine</h3>
                    <p>(July 22 - Sept 30)</p>
                    <div>
                        <a href="/results/Bottoms Up 2024 League Stats - Week 12.xlsx">Week 12 - July 22</a><br>
                        <a href="/results/Bottoms Up 2024 League Stats - Week 13.xlsx">Week 13 - July 29</a><br>
                        <h3 style="margin: 0; color: rgb(8, 70, 6); font-size: larger; font-weight: bolder;">Week 14 -
                            August 5 (RAIN OUT)</h3>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <%- include('./layouts/footer'); -%>
        </section>

        <section>
            <%- include('./layouts/scripts'); -%>
        </section>

    </body>

</html>