<!DOCTYPE html>
<html lang="en">

<%- include('./layouts/header'); -%>

    <body>

        <section>
            <%- include('./layouts/navbar'); -%>
        </section>

        <section id="meat">
            <div>

               <!--  <iframe src="/results/Bottoms Up 2024 League Stats - Week 22.pdf#zoom=FitV" 
                    style="height:100vh; width: 100%;"></iframe> -->
                    <br><br>
                    <h1 style="text-align: center;">Will be posted after week 12.</h1>

            </div>
        </section>

        <section>
            <%- include('./layouts/footer'); -%>
        </section>

        <section>
            <%- include('./layouts/scripts'); -%>
        </section>

    </body>

</html>