<!doctype html>

<html lang="en">
  <%- include('layouts/header');%>

  <style>
    .table-row {
      color: white;
      height: 21px;
    }
  </style>

  <body>
    <section><%- include('layouts/navbar'); %></section>
    <div class="text-center">
      <br /><br />
      <h1>2025 Tee Times</h1>
      <br />
    </div>
    <section>
      <div class="justify-content-center">
        <table
          style="table-layout: auto; font-size: 0.75rem; width: 35vw"
          cellspacing="0"
          cellpadding="0"
        >
          <tr style="font-size: medium">
            <td colspan="4">May 5th &nbsp&nbsp(Week 1 of 22)</td>
          </tr>
          <tr style="font-size: medium">
            <td>4:40p</td>
            <td>4:50p</td>
            <td>5:00p</td>
            <td>5:10p</td>
          </tr>
          <tr class="table-row">
            <td>Randy</td>
            <td>Kevin</td>
            <td>Mark H</td>
            <td>Karen</td>
          </tr>
          <tr class="table-row">
            <td>Russ</td>
            <td>Ryan</td>
            <td>Brian</td>
            <td>John B</td>
          </tr>
          <tr class="table-row">
            <td>Mark Y</td>
            <td>Shayne</td>
            <td>Luke</td>
            <td>Drew</td>
          </tr>
          <tr class="table-row">
            <td>Matthew</td>
            <td>Aaron</td>
            <td>Mike G</td>
            <td></td>
          </tr>
        </table>
      </div>
    </section>

    <section><%- include('layouts/footer'); %></section>

    <section><%- include('layouts/scripts'); %></section>
  </body>
</html>
