<!DOCTYPE html>

<html lang="en">

<%- include('layouts/header');-%>

  <body>

    <section>
      <%- include('layouts/navbar'); -%>
    </section>
    <div class="text-center">
      <br><br>
      <h1>2025 Tee Times</h1>
      <br>       
    </div>
    <section>
      <div class="justify-content-center">
        <table style="table-layout: auto; font-size:.75rem; width: 35vw;" cellspacing="0" cellpadding="0">
          <tr style="font-size: medium;">
            <td colspan=4>May 5th &nbsp&nbsp(Week 1 of 22)</td>
          </tr>
          <tr style="font-size: medium;">
            <td>4:40p</td>
            <td>4:50p</th>
            <td>5:00p</th>
            <td>5:10p</th>
          </tr>
          <tr style="height: 21px;">
            <td>Randy</td>
            <td>Kevin</td>
            <td></td>
            <td>Karen</td>
          </tr>
          <tr style="height: 21px;">
            <td>Russ</td>
            <td>Ryan</td>
            <td></td>
            <td>John B</td>
          </tr>
          <tr style="height: 21px;">
            <td>Mark Y</td>
            <td>Shayne</td>
            <td></td>
            <td>Mark H</td>
          </tr>
          <tr style="height: 21px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>          
        </table>
      </div>
    </section>

    <section>
      <%- include('layouts/footer'); -%>
    </section>

    <section>
      <%- include('layouts/scripts'); -%>
    </section>

  </body>

</html>