<!DOCTYPE html>

<html class="gradient-background" lang="en">

<%- include('layouts/header');-%>

  <body class="gradient-background">

    <section>
      <%- include('layouts/navbar'); -%>
    </section>
    <br>
    <section>

      <!-- 08/19/24 tee times -->

      <div class="justify-content-center">
        <table style="table-layout: auto; font-size:.75rem; width: 35vw;" cellspacing="0" cellpadding="0">
          <tr style="font-size: medium;">
            <td colspan=4>For 9/2/2024</td>
          </tr>
          <tr style="font-size: medium;">
            <td>4:30p</th>
            <td>4:40p</th>
            <td>4:50p</th>
            <td>OUT</th>
          </tr>
          <tr style="height: 21px;">
            <td> </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr style="height: 21px;">
            <td> </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr style="height: 21px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr style="height: 21px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <br><br>
        <table style="table-layout: auto; font-size:.75rem; width: 35vw;" cellspacing="0" cellpadding="0">
          <tr style="font-size: medium;">
            <td colspan=4>For 8/26/2024</td>
          </tr>
          <tr style="font-size: medium;">
            <td>4:50p</th>
            <td>5:00p</th>
            <td>5:10p</th>
            <td>OUT</th>
          </tr>
          <tr>
            <td>Mark H</td>
            <td>Jon</td>
            <td>John</td>
            <td></td>
          </tr>
          <tr>
            <td>Ryan</td>
            <td>Mike</td>
            <td>Ami</td>
            <td></td>
          </tr>
          <tr>
            <td>Kevin</td>
            <td>Russ</td>
            <td>Karen</td>
            <td></td>
          </tr>
          <tr>
            <td>Tony</td>
            <td>Mark Y</td>
            <td>Randy</td>
            <td></td>
          </tr>
        </table>
      </div>
    </section>

    <section>
      <%- include('layouts/footer'); -%>
    </section>

    <section>
      <%- include('layouts/scripts'); -%>
    </section>

  </body>

</html>