<!DOCTYPE html>

<html class="gradient-background" lang="en">

<%- include('layouts/header');-%>

  <body class="gradient-background">

    <section>
      <%- include('layouts/navbar'); -%>
    </section>
    <br><br><br>
    <section>

      <!-- 08/19/24 tee times -->

      <div class="justify-content-center">
        <table style="table-layout: auto; font-size:.75rem; width: 35vw;" cellspacing="0" cellpadding="0">
          <tr style="font-size: medium;">
            <td colspan=4>For 9/30/2024 &nbsp&nbsp(Week 22 of 22)</td>
          </tr>
          <tr style="font-size: medium;">
            <td>4:20p</th>
            <td>4:30p</th>
            <td>4:40p</th>
            <td>OUT</th>
          </tr>
          <tr style="height: 21px;">
            <td>John</td>
            <td>Mike</td>
            <td>Russ</td>
            <td>Ryan</td>
          </tr>
          <tr style="height: 21px;">
            <td>Mark Y</td>
            <td>Tony</td>
            <td>Ami</td>
            <td>Karen</td>
          </tr>
          <tr style="height: 21px;">
            <td>Jon</td>
            <td>Randy</td>
            <td>Shayne</td>
            <td></td>
          </tr>
          <tr style="height: 21px;">
            <td>Mark H</td>
            <td>Kevin</td>
            <td>Jeff</td>
            <td></td>
          </tr>          
        </table>
      </div>
    </section>

    <section>
      <%- include('layouts/footer'); -%>
    </section>

    <section>
      <%- include('layouts/scripts'); -%>
    </section>

  </body>

</html>