<!DOCTYPE html>

<html class="gradient-background" lang="en">

<%- include('layouts/header');-%>

  <body class="gradient-background">

    <section>
      <%- include('layouts/navbar'); -%>
    </section>

    <section>

      <!-- 08/19/24 tee times -->

      <div style="text-align: center;">
        <br>
        <div class="d-flex justify-content-center">
          <table style="color: black; table-layout: auto; font-size:.75rem; width: 40vw;" cellspacing="0" cellpadding="1">
            <col class=xl65>
            <col class=xl65>
            <col class=xl65>
            <col class=xl65>
            <tr height=21>
              <td colspan=7>8/19/2024 @ 07:59 am</td>
            </tr>
            <tr height=21>
              <td class=xl68>4:50p</td>
              <td class=xl69>5:00p</td>
              <td class=xl70>5:10p</td>
              <td class=xl66>OUT</td>
            </tr>
            <tr height=21>
              <td class=xl77>Jon</td>
              <td class=xl78>Ryan</td>
              <td class=xl79>John</td>
              <td class=xl65 style="color: brown">Randy</td>
            </tr>
            <tr height=21>
              <td height=20>Jeff</td>
              <td class=xl81>Mike</td>
              <td class=xl82>Ami</td>
              <td class=xl73 style="color: brown;">Mark H</td>
            </tr>
            <tr height=21>
              <td class=xl80>Tony</td>
              <td class=xl81>Russ</td>
              <td class=xl82>Karen</td>
              <td class=xl74></td>
            </tr>
            <tr height=21>
              <td class=x180>Kevin</td>
              <td class=xl84>Mark Y</td>
              <td class=xl84>Shayne</td>
              <td class=xl85></td>
            </tr>
          </table>
        </div>
      </div>

    </div>
    </section>

    <section>
      <%- include('layouts/footer'); -%>
    </section>

    <section>
      <%- include('layouts/scripts'); -%>
    </section>

  </body>

</html>