<!DOCTYPE html>

<html class="gradient-background" lang="en">

<%- include('layouts/header');-%>

  <body class="gradient-background">

    <section>
      <%- include('layouts/navbar'); -%>
    </section>
    <br>
    <section>

      <!-- 08/19/24 tee times -->

      <div class="justify-content-center">
        <table style="table-layout: auto; font-size:.75rem; width: 35vw;" cellspacing="0" cellpadding="0">          
          <tr style="font-size: medium;">
            <td colspan=4>8/19/2024 @ 07:59 am</td>
          </tr>
          <tr style="font-size: medium;">
            <td>4:50p</th>
            <td>5:00p</th>
            <td>5:10p</th>
            <td>OUT</th>
          </tr>
          <tr>
            <td>Jon</td>
            <td>Ryan</td>
            <td>John</td>
            <td style="color: brown;">Randy</td>
          </tr>
          <tr>
            <td>Jeff</td>
            <td>Mike</td>
            <td>Ami</td>
            <td style="color: brown;">Mark H</td>
          </tr>
          <tr>
            <td>Tony</td>
            <td>Russ</td>
            <td>Karen</td>
            <td></td>
          </tr>
          <tr>
            <td>Kevin</td>
            <td>Mark Y</td>
            <td>Shayne</td>
            <td></td>
          </tr>
        </table>
      </div>
    </section>

    <section>
      <%- include('layouts/footer'); -%>
    </section>

    <section>
      <%- include('layouts/scripts'); -%>
    </section>

  </body>

</html>