<!DOCTYPE html>
<html class="gradient-background" lang="en">

<%- include('./layouts/header'); -%>

  <body class="gradient-background">

    <section>
      <div>
        <%- include('./layouts/navbar'); -%>
      </div>
    </section>

    <section id="videos">
      <div class="container text-center justify-content-center">
        <div class="row">
          <div class="col">
            <video controls preload="auto">
              <source src="/videos/IMG_0483.MP4" type="video/mp4">
            </video>
            <p style="font-weight: bold; margin: 0;">Kevin Leading Off</p>
            <br>
          </div>
          <div class="col">
            <video controls preload="auto">
              <source src="/videos/IMG_0484.MP4" type="video/mp4">
            </video>
            <p style="font-weight: bold; margin: 0;">Ryan</p>
            <br>
          </div>
          <div class="col">
            <video controls preload="auto">
              <source src="/videos/IMG_0485.MP4" type="video/mp4">
            </video>
            <p style="font-weight: bold; margin: 0;">Mark Y</p>
            <br>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <video controls preload="auto">
              <source src="/videos/IMG_0486.MP4" type="video/mp4">
            </video>
            <p style="font-weight: bold; margin: 0;">Jeff</p>
            <br>
          </div>
          <div class="col">
            <video controls preload="auto">
              <source src="/videos/IMG_0487.MP4" type="video/mp4">
            </video>
            <p style="font-weight: bold; margin: 0;">John</p>
            <br>
          </div>
          <div class="col">
            <video controls preload="auto">
              <source src="/videos/IMG_0488.MP4" type="video/mp4">
            </video>
            <p style="font-weight: bold; margin: 0;">Ami</p>
            <br>
          </div>
        </div>
          <div class="row">
            <div class="col">
              <video controls preload="auto">
                <source src="/videos/IMG_0541.MP4" type="video/mp4">
              </video>
              <p style="font-weight: bold; margin: 0;">Illegal Russ</p>
            <br>
            </div>
          </div>
        </div>
    </section>

    <section>
      <div>
        <%- include('./layouts/footer'); -%>
      </div>
    </section>

    <section>
      <div>
        <%- include('./layouts/scripts'); -%>
      </div>
    </section>

  </body>

</html>