<!DOCTYPE html>
<html lang="en">

<%- include('./layouts/header'); -%>

  <body>

    <section>
      <div>
        <%- include('./layouts/navbar'); -%>
      </div>
    </section>

    <section id="videos">
      <div style="margin-top: 7%;" class="container">
        <video controls>
          <source src="/images/IMG_0483.MP4" type="video/mp4">
        </video>
        <video controls>
          <source src="/images/IMG_0484.MP4" type="video/mp4">
        </video>
        <video controls>
          <source src="/images/IMG_0485.MP4" type="video/mp4">
        </video>
        <video controls>
          <source src="/images/IMG_0486.MP4" type="video/mp4">
        </video>
        <video controls>
          <source src="/images/IMG_0487.MP4" type="video/mp4">
        </video>
        <video controls>
          <source src="/images/IMG_0488.MP4" type="video/mp4">
        </video>
        <video controls>
          <source src="/images/IMG_0541.MP4" type="video/mp4">
        </video>
      </div>
    </section>

    <section>
      <div>
        <%- include('./layouts/footer'); -%>
      </div>
    </section>

    <section>
      <div>
        <%- include('./layouts/scripts'); -%>
      </div>
    </section>

  </body>

</html>