<!DOCTYPE html>
<html lang="en">

<%- include('./layouts/header'); -%>

  <body>

    <section>
      <%- include('./layouts/navbar'); -%>
    </section>

    <section id="videos">
      <div class="container">
        <video controls>
          <source src="http://localhost:4000/video" type="video/webm">
        </video>       
        <video controls>
          <source src="/images/img_0484.mp4" type="video/mp4">
        </video>
        <video controls>
          <source src="/images/img_0485.mp4" type="video/mp4">
        </video>
        <video controls>
          <source src="/images/img_0486.mp4" type="video/mp4">
        </video>
        <video controls>
          <source src="/images/img_0487.mp4" type="video/mp4">
        </video>
        <video controls>
          <source src="/images/img_0488.mp4" type="video/mp4">
        </video>
        <video controls>
          <source src="/images/img_0541.mp4" type="video/mp4">
        </video>
      </div>
    </section>

    <section>
      <div>
        <%- include('./layouts/footer'); -%>
      </div>
    </section>

    <section>
      <div>
        <%- include('./layouts/scripts'); -%>
      </div>
    </section>

  </body>

</html>