/** @format */

html {
  height: auto;
  overflow-x: hidden;
  overflow: scroll;
}

body {
  width: 100%;
  margin: 0;
  height: 100vh;
  background-color: rgb(47, 138, 47);
  background-position: center;
  background-size: 80% 80%;
  font-family: Arial, Helvetica, sans-serif; 
}

.main-schedule {
  background-color: rgb(30, 188, 90);
  color: darkgreen;
  height: 230px;
  width: 450px;
  border: solid black 3px;
  border-radius: 12px;
}

.main-thanks {
  background-color: rgb(138, 136, 20);
  color: darkgreen;
  height: auto;
  min-height: 85px;
  width: 600px;
  border: solid black 2px;
  border-radius: 12px;
}

@media only screen and (min-width: 414px){
  body {
    background-image: none !important;
  }
  .main-schedule {
    max-height: 225px;
  }
  .main-thanks {
    height: auto;
    min-height: 65px;
  }
  h5, p {
    font-size: large !important;
  }
}

@media only screen and (min-height: 896px){
body {
    background-image: none !important;
  }
  .main-schedule {
    max-height: 250px;
  }
  .main-thanks {
    height: auto;
    min-height: 65px;
  }
  h5,
  p {
    font-size: large !important;
  }
}

@media only screen and (max-width: 896px) and (orientation: landscape) {
  body {
    background-image: none !important;
  }
  .main-schedule {
   max-height: 250px;
  }
  .main-thanks {
    height: auto;
    min-height: 65px;
  }
  h5, p {
    font-size: large !important;
  }
}

@media only screen and (max-width: 414px) and (orientation: landscape) {
  body {
    background-image: none !important;
  }
  .main-schedule {
   max-height: 200px;
  }
  .main-thanks {
    height: auto;
    min-height: 65px;
  }
  h5,
  p {
    font-size: large !important;
  }
}

video {
  width: 300px;
  height: auto;
  border: solid rgb(21, 46, 7) 5px;
  border-radius: 10px;
  margin: 5px;
}

.navbar-brand {
  margin-right: 10%;
}

.navbar {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  border: solid green 5px;
  color: lightgreen;
  margin-top: 25px;
  padding: 5px;
}

.main-page {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.main-small {
  max-height: 400px;
  border: solid rgb(40, 54, 13) 3px;
  border-radius: 10%;
}

.main-large {
  max-height: 480px;
  border: solid rgb(40, 54, 13) 3px;
  border-radius: 5%;
}

.file-list {
  background-color: rgb(14, 122, 56);
  color: darkgreen;
  height: 450px;
  width: 450px;
  border: solid black 5px;
  border-radius: 15px;
}

.main-images {
  background-color: rgb(14, 122, 56);
  color: darkgreen;
  height: 500px;
  width: 1000px;
  border: solid black 5px;
  border-radius: 15px;
}

footer {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
}

td a {
  color: rgb(47, 5, 114);
}

a {
  color: rgb(212, 47, 29);
  text-decoration: none;

}

video:hover, img:hover {
  border: solid rgb(66, 179, 56) 0.25rem;
}  

p {
  color: black;
}

h2 {
  color: rgb(9, 10, 9);
  font-weight: bold;
  text-decoration: underline;
}

h3 {
  margin-top: 25px;
  color: black;
}

h4 {
  font-weight: bold;
  color: black;
}

h5, h6 {
  color: cyan;
}

table {
  background-color: rgb(38, 168, 38);
  border: 2px solid black;
  text-align: center;
  font-weight: bold;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

td {
  border: 2px solid black;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
}

ul {
  text-align: justify;
  list-style-type: none;
}
