/** @format */

body, html {
  height: 100%;
  background-image: url(/images/mountain-hole.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-nav > li {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-brand {
  padding-right: 60px;
}

.navbar {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  border: solid green 5px;
  background-color: lightgreen;  
  margin: 10px;
  padding: 5px;
}

.main-page {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100vh;
 }

footer {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

a {
  color: darkcyan;
  text-decoration: none;
}

.carousel {
  height: 400px;
}
