/** @format */

html {
  background-color: green;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/golf-hole-2.jpg);
  background-color: green;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% 80% ;
}

.gradient-background {
  background: linear-gradient(79deg,#b5ec59,#2b61a2,#20f81f,#122a80,#b30e0e);
  background-size: 300% 300%;
  animation: gradient-animation 15s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 650px) {
  body {
    background-image: none !important;    
  }
}

video {
  width: 300px;
  height: auto;
  border: solid rgb(21, 46, 7) 5px;
  border-radius: 10px;
  margin: 5px;
}

.navbar-brand {
  margin-right: 10%;
}

.navbar {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  border: solid green 5px;
  color: lightgreen;
  margin: 10px;
  margin-top: 25px;
  padding: 5px;
}

.main-page {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.main-small {
  max-height: 400px;
  border: solid rgb(40, 54, 13) 3px;
  border-radius: 10%;
}

.main-large {
  max-height: 480px;
  border: solid rgb(40, 54, 13) 3px;
  border-radius: 5%;
}

.main-rules {
  background-color: rgb(14, 122, 56);
  color: darkgreen;
  border: solid black 2px;
  font-weight: bold;
}

.form-signin {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: REM;
}

.form-control {
  width: 350px;
}

.file-list {
  background-color: rgb(14, 122, 56);
  color: darkgreen;
  height: 400px;
  width: 400px;
  border: solid black 5px;
  border-radius: 15px;
}

.login-box {
  background-color: rgb(14, 122, 56);
  color: darkgreen;
  height: 225px;
  width: 150px;
  border: solid black 5px;
  border-radius: 15px;
  margin-top: 10px;
  padding-top: 15px;
}

.course {
  color: black;
}

footer {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
}

a {
  color: darkcyan;
  text-decoration: none;
}

p {
  color: black;
}

h2 {
  color: rgb(9, 10, 9);
  font-weight: bold;
  text-decoration: underline;
}

h3 {
  margin-top: 25px;
  color: black;
}

h4 {
  font-weight: bold;
  color: black;
}

h5,
h6 {
  color: cyan;
}

table,
td {
  background-color: rgb(38, 168, 38);
  border: 2px solid black;
  text-align: center;
  font-weight: bold;
  border-collapse: collapse;
  table-layout: fixed;
  margin: auto;
}

.table-9-12 {
  color: brown;
}

ul {
  text-align: justify;
  list-style-type: none;
}
